__pycache__/
*.pyc

#uploads/
summaries/*.html
summaries/*.pdf
summaries/*.md

logs/

.env
tests/sample.*
ChatGPT_transcript_2025-04-14-SummarizerPro/
ChatGPT_transcript_exports/
ChatGPT_Project_Summary_files_AI_Summarizer_Pro/

.vscode/
